* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-color: #f2f1f8;
  background-color: #e4e4e4;
  font-family: "Cairo", sans-serif;
  direction: rtl; }

#hero {
  background-image: url("../images/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  #hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  #hero h1 {
    margin: 0;
    font-size: 60pt;
    color: #fff;
    position: relative;
    z-index: 2;
    text-shadow: 4px 4px 0 #000; }

#products {
  padding-bottom: 60px; }
  #products h3.section_name {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    margin-top: 20px;
    font-size: 20pt; }
  #products .card_container {
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    margin: 0 auto; }
    #products .card_container .card {
      width: calc(100% / 3 - 40px);
      margin: 20px;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
      overflow: hidden; }
      #products .card_container .card .img {
        background-color: #f5f5f5;
        height: 280px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
      #products .card_container .card .name {
        padding: 20px;
        font-weight: 700;
        font-size: 16pt; }

#contact {
  background-color: #131313;
  padding: 60px 0; }
  #contact .container {
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    margin: auto; }
    #contact .container .contact_form {
      padding: 0 40px; }
      #contact .container .contact_form form {
        padding: 40px;
        background-color: #fff;
        width: 540px; }
        #contact .container .contact_form form h3 {
          font-size: 18pt;
          font-weight: 400;
          margin-top: 0; }
        #contact .container .contact_form form .form_control {
          width: 100%;
          margin-bottom: 20px;
          padding: 15px;
          display: block;
          border: 1px solid #ddd;
          border-radius: 2px; }
        #contact .container .contact_form form textarea {
          resize: vertical;
          width: 100%;
          min-block-size: 120px; }
        #contact .container .contact_form form button {
          padding: 4px 40px 7px;
          margin-top: 10px;
          font-size: 15pt;
          font-family: "Cairo", sans-serif;
          background-color: #6d23b8;
          color: #fff;
          border: 0;
          outline: 0;
          border-radius: 4px;
          cursor: pointer;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
          #contact .container .contact_form form button:hover {
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
    #contact .container .about_us {
      padding: 0 40px; }
      #contact .container .about_us ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
      #contact .container .about_us li {
        color: #fff;
        font-size: 15pt;
        margin-bottom: 30px; }
        #contact .container .about_us li span {
          font-size: 13pt;
          display: block;
          color: #ccc; }

/*# sourceMappingURL=style.css.map */
